<template>
  <div>
    <slot />
    <div class="spinbox">
      <span @click="spin(false)">
        <font-awesome-icon class="text-blue-500 text-xl spin" icon="arrow-alt-circle-left"></font-awesome-icon>
      </span>
      <input
        class="appearance-none border-b border-blue-700 py-2 mx-2 text-gray-700 text-center text-xl face-rubik"
        type="text"
        :value="currentItem.name"
        readonly="true"
      />
      <span @click="spin(true)">
        <font-awesome-icon class="text-blue-500 text-xl spin" icon="arrow-alt-circle-right"></font-awesome-icon>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: ['items'],
  data() {
    return {
      itemIndex: 0,
      firstUpdate: true,
    };
  },
  computed: {
    currentItem() {
      if (this.items.length > 0) {
        return this.items[this.itemIndex];
      }
      return { id: -1, name: '...loading...', popularity: 0 };
    },
  },
  methods: {
    spin(forwards) {
      if (forwards) {
        this.itemIndex++;
        if (this.itemIndex >= this.items.length) {
          this.itemIndex = 0;
        }
      } else {
        this.itemIndex--;
        if (this.itemIndex < 0) {
          this.itemIndex = this.items.length - 1;
        }
      }
      this.$emit('item-spin', this.currentItem);
    },
  },
};
</script>

<style scoped>
.spin:hover {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
</style>
