<template>
  <div class="flex flex-col items-center">
    <label class="text-base sm:text-xl p-2" for="magicNumber">{{ $t('Signup.magicNumber') }}</label>
    <div class="ml-5">
      <input
        type="text"
        class="appearance-none border-b border-blue-700 py-2 mx-2 text-gray-700 text-center text-xl face-rubik"
        :value="code"
        readonly="true"
      />
      <font-awesome-icon
        id="refresher"
        class="text-blue-500 text-xl"
        @click="spinCode"
        icon="yin-yang"
      ></font-awesome-icon>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  data() {
    return {
      code: '0000',
    };
  },
  created() {
    this.code = this.generateCode();
    this.$emit('code-change', this.code);
  },
  methods: {
    spinCode() {
      this.code = this.generateCode();
      this.$emit('code-change', this.code);
    },
    generateCode() {
      // filter out racist symbols, and cursed numbers:
      const bad = [1111, 2222, 3333, 4444, 5555, 6666, 7777, 8888, 9999, 1352, 1390, 1423, 1488, 1623, 2020, 2316];
      // random number between 1 and 9999 inclusive
      let rnd = Math.floor(Math.random() * (9999 - 1 + 1)) + 1;
      while (bad.includes(rnd)) {
        rnd = Math.floor(Math.random() * (9999 - 1 + 1)) + 1;
      }
      let str = rnd + '';
      let pad = '0000';
      return pad.substring(0, pad.length - str.length) + str;
    },
  },
};
</script>

<style scoped>
#refresher:hover {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
