<template>
  <div>
    <div class="flex flex-col justify-between items-center pt-4">
      <form id="signup" @submit.prevent="onSubmit" novalidate>
        <div class="flex flex-col" id="passwordRow">
          <div class="text-center flex flex-col">
            <label class="text-base sm:text-xl" for="email">{{ $t('Signup.email') }}</label>
            <input
              type="email"
              name="email"
              v-model.trim="email"
              class="w-56 p-2 mx-2 border-b border-r border-blue-700"
              :class="{ invalid: email.length > 0 && email.length < 3 }"
            />
            <br />
          </div>
          <div class="text-center flex flex-col">
            <label class="text-base sm:text-xl" for="password">{{ $t('Signup.password') }}</label>
            <input
              type="password"
              name="password"
              v-model="password"
              class="w-56 p-2 mx-2 border-b border-r border-blue-700"
              :class="{ invalid: password.length > 0 && password.length < 8 }"
            />
            <br />
          </div>
          <div class="text-center flex flex-col">
            <label class="text-base sm:text-xl" for="password2">{{ $t('Signup.confirmPassword') }}</label>
            <input
              type="password"
              name="passwordVerify"
              v-model="passwordVerify"
              class="w-56 p-2 mx-2 border-b border-r border-blue-700"
              :class="{ invalid: password.length > 7 && password !== passwordVerify }"
            />
            <br />
          </div>
          <div class="items-center justify-center flex flex-col pt-8">
            <button class="w-40 text-lg text-blue-500" @click="checkForm()">
              <font-awesome-icon class="text-blue-500 text-xl" icon="user-plus"></font-awesome-icon>
              {{ $t('Signup.clickToSignup') }}
            </button>
          </div>
        </div>
      </form>
      <div class="flex flex-row justify-center pt-4" v-if="errors.length > 0">
        <div class="w-full">
          <ul class="list-disc text-red-700">
            <li v-for="(error, index) in errors" :key="index">{{ error.message }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  data() {
    return {
      email: '',
      errors: [],
      password: '',
      passwordVerify: '',
      errEmail: '',
      errPassMismatch: '',
      errPassLength: '',
    };
  },
  created() {
    this.errEmail = this.$t('Signup.Errors.invalidEmail');
    this.errPassMismatch = this.$t('Signup.Errors.passwordMismatch');
    this.errPassLength = this.$t('Signup.Errors.passwordLength');
  },
  methods: {
    onSubmit() {
      return false;
    },

    checkForm() {
      // console.log('check it');
      this.errors = [];
      // verify email address
      if (this.email.indexOf('@') === -1) {
        this.errors.push({ message: this.errEmail });
      }
      if (this.password.length < 8) {
        this.errors.push({ message: this.errPassLength });
      }
      if (this.password !== this.passwordVerify) {
        this.errors.push({ message: this.errPassMismatch });
      }
      if (this.errors.length === 0) {
        this.$emit('user-valid', { email: this.email, password: this.password });
      }
    },
  },
};
</script>
