<template>
  <div class="flex flex-row justify-center items-center">
    <hr class="w-1/3 left" />
    <font-awesome-icon class="mx-4 text-lg text-gray-400" icon="yin-yang"></font-awesome-icon>
    <hr class="w-1/3 right" />
  </div>
</template>

<style scoped>
hr {
  border: 0;
  height: 1px;
}
hr.right {
  background-image: linear-gradient(to right, rgba(203, 213, 224), white);
}

hr.left {
  background-image: linear-gradient(to left, rgba(203, 213, 224), white);
}
</style>
