<template>
  <div
    class="
      bg-black bg-opacity-75
      absolute
      w-full
      h-full
      top-0
      right-0
      z-50
      text-white
      flex flex-row
      items-center
      justify-center
    "
    v-if="show"
  >
    <div class="flex flex-col items-center justify-center">
      <div class="face-rubik text-2xl">{{ phrase }}</div>
      <font-awesome-icon class="text-4xl animate-spin" icon="yin-yang"></font-awesome-icon>
    </div>
  </div>
</template>

<script>
export default {
  props: ['show'],
  computed: {
    phrase() {
      return this.phrases[Math.floor(Math.random() * this.phrases.length)];
    },
  },
  data() {
    return {
      phrases: [
        'reticulating splines',
        'doing thangs',
        'hamster wheels engaged',
        'retrieval in progress',
        'loading models',
        'terraforming planets',
        'executing...',
        'buffering... lol jk',
      ],
    };
  },
};
</script>
