<template>
  <div class="text-xxs uppercase text-gray-500">
    {{ $t('Pager.pages') }}:
    <span v-if="pages < truncateAt">
      <router-link class="px-1" v-for="link in links" :to="link.to" :key="link.index">
        {{ link.index }}
      </router-link>
    </span>
    <span v-else>
      <router-link class="px-1" v-for="link in first" :to="link.to" :key="link.index">
        {{ link.index }}
      </router-link>
      <span>. . .</span>
      <router-link class="px-1" v-for="link in last" :to="link.to" :key="link.index">
        {{ link.index }}&nbsp;
      </router-link>
    </span>
  </div>
</template>

<script>
export default {
  created() {
    if (this.pages < this.truncateAt) {
      for (let i = 1; i <= this.pages; i++) {
        this.links.push({
          to: `/forum/${this.forumId}/thread/${this.threadId}?page=${i}`,
          index: i,
        });
      }
    } else {
      // first 2:
      this.first.push({
        to: `/forum/${this.forumId}/thread/${this.threadId}?page=1`,
        index: 1,
      });
      this.first.push({
        to: `/forum/${this.forumId}/thread/${this.threadId}?page=2`,
        index: 2,
      });
      // last 2:
      this.last.push({
        to: `/forum/${this.forumId}/thread/${this.threadId}?page=${this.pages - 1}`,
        index: this.pages - 1,
      });
      this.last.push({
        to: `/forum/${this.forumId}/thread/${this.threadId}?page=${this.pages}`,
        index: this.pages,
      });
    }
  },
  data() {
    return {
      truncateAt: 6,
      links: [],
      first: [],
      last: [],
    };
  },
  props: ['threadId', 'forumId', 'pages'],
};
</script>
