<template>
  <div class="text-white mb-4">
    {{ quote }}
  </div>
</template>

<script>
export default {
  data() {
    return {
      quotes: [
        'Some kindness each day keeps bad karma away.',
        'Be kind whenever possible. It is always possible.',
        'When in doubt - be kind.  When not in doubt - be kind.',
        'Spread love everywhere you go. Let no one ever come to you without leaving happier.',
        'Always be a little kinder than necessary.',
        'To err on the side of kindness is seldom an error.',
      ],
    };
  },
  computed: {
    quote() {
      return this.quotes[Math.floor(Math.random() * this.quotes.length)];
    },
  },
};
</script>
