<template>
  <div :class="{ hidden: notifications.length <= 0 }">
    <div class="veil" v-if="notifications.length > 0">
      <div
        id="robot-cage"
        class="
          w-2/3
          p-4
          border-2
          bg-gray-100
          border-blue-500
          rounded-lg
          fixed
          align-middle
          flex flex-row
          justify-between
          items-center
        "
        v-for="(notification, idx) in notifications"
        :key="idx"
      >
        <div class="flex flex-col">
          <img :src="path" alt="a robot" />
          <div class="text-gray-600 text-xs">{{ botName }}</div>
        </div>
        <div>
          <div class="text-gray-900 text-xl">{{ notification.title }}</div>
          <div class="text-gray-900 text-2xl">{{ notification.message }}</div>
        </div>
        <button
          class="text-4xl text-blue-500 inline-flex justify-center"
          type="button"
          data-dismiss="alert"
          aria-label="Close"
          @click="close(notification)"
        >
          &times;
          <!-- <span aria-hidden="true" class="align-middle inline-block">&times;</span> -->
        </button>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="blur">
          <feGaussianBlur stdDeviation="5" />
        </filter>
      </defs>
    </svg>
  </div>
</template>

<script>
export default {
  computed: {
    notifications() {
      return this.$store.getters['notifications'];
    },
    path() {
      return require(`../../assets/robots/${this.robotId}.svg`);
    },
  },
  data() {
    return {
      botName: this.getBotName(),
      robotId: this.getRobot(),
    };
  },
  methods: {
    close(notification) {
      this.robotId = this.getRobot();
      this.botName = this.getBotName();
      this.$store.commit('NOTIFY_REMOVE', notification);
    },
    getBotName() {
      const valid = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ01234567890123456789';
      let name = 'lof-bot-';
      for (let i = 0; i < 5; i++) {
        const idx = Math.floor(Math.random() * valid.length);
        name += valid.substring(idx, idx + 1);
      }
      return name;
    },
    getRobot() {
      const n = Math.floor(Math.random() * (20 - 1 + 1)) + 1;
      const prefix = 'robot-';
      return n < 10 ? prefix + '0' + n : prefix + n;
    },
  },
};
</script>

<style scoped>
#robot-cage {
  left: 50%;
  top: 4em;
  transform: translateX(-50%);
  vertical-align: middle;
  z-index: 6000;
}

.veil {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5000;
}

.roboshow-enter-active .roboshow-leave-active {
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.roboshow-enter .roboshow-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
</style>
