<template>
  <footer
    class="flex flex-row items-center justify-center border-t h-8 fixed bottom-0 w-full bg-white text-xxs text-gray-600"
  >
    &copy;2021
    <a href="https://longopinionatedreviews.com" target="_lor" class="pl-2">longopinionatedreviews.com</a>
  </footer>
</template>
