<template>
  <div class="flex flex-col items-center justify-start space-between">
    <div class="text-sm grid grid-cols-2 gap-2 mb-4">
      <div>{{ $t('User.PostInfo.totalPosts') }}:</div>
      <div class="text-blue-500">{{ info.postCount || 0 }}</div>
      <div>{{ $t('User.PostInfo.since') }}</div>
      <div class="text-blue-500">{{ formattedJoinDate }}</div>
      <div>{{ $t('User.PostInfo.averaging') }}</div>
      <div class="text-blue-500">{{ postsPerDay }} {{ $t('User.PostInfo.perDay') }}</div>
    </div>
    <div class="text-sm mb-4">
      {{ $t('User.PostInfo.lastSeen') }}
      <span class="text-gray-600">{{ lastPostTime }}</span>
      {{ $t('User.PostInfo.saying') }}
      <span class="text-gray-600">&quot;{{ lastQuote }}&quot;</span>
      {{ $t('User.PostInfo.inThread') }}:
      <span @click="goToThread(thread.forumId, thread.id)" class="text-blue-500 cursor-pointer">
        {{ thread.title }}
      </span>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import BBCService from '@/lib/BBCodeParser';

export default {
  props: ['info', 'joinDate'],
  computed: {
    formattedJoinDate() {
      return moment.utc(this.joinDate).format('YYYY MMM Do');
    },
    lastPostTime() {
      if (this.info && this.info.lastPost) {
        return moment.utc(this.info.lastPost.createdAt).fromNow();
      }
      return 'Never';
    },
    lastQuote() {
      // console.log(this.info!.lastPost);
      if (this.info && this.info.lastPost) {
        const rawPost = BBCService.strip(this.info.lastPost.content);
        if (rawPost.length > 50) {
          return rawPost.substr(0, 50) + '...';
        } else {
          return rawPost;
        }
      }
      return '...';
    },
    postsPerDay() {
      if (this.info && this.info.lastPost) {
        const joined = moment.utc(this.joinDate);
        const now = moment.utc();
        let diff = now.diff(joined, 'days');
        if (diff < 1) {
          diff = 1;
        }
        return (this.info.postCount / diff).toFixed(2);
      }
      return 0;
    },
    thread() {
      if (this.info && this.info.lastPost) {
        return {
          id: this.info.lastPost.threadId,
          title: this.info.lastPost.thread,
          forumId: this.info.lastPost.forumId,
        };
      }
      return { id: -1, title: '', forumId: -1 };
    },
  },
  methods: {
    goToThread(forumId, threadId) {
      this.$router.push({ path: `/forum/${forumId}/thread/${threadId}` });
    },
  },
};
</script>

<style></style>
