<template>
  <div class="Animal Animal-Big" :class="color">
    <img :src="path" :alt="animal" />
    <span class="text-lg text-white pb-4 font-medium">{{ name }}</span>
  </div>
</template>

<script>
export default {
  props: ['animal', 'color', 'code'],
  computed: {
    name() {
      return `${this.color}${this.animal}${this.code}`;
    },
    path() {
      return require(`../../assets/animals/${this.animal}.svg`);
    },
  },
};
</script>
