<template>
  <div class="h-28 flex flex-col justify-start items-center pt-1 pb-2">
    <a
      class="hidden sm:inline font-bold text-black text-base sm:text-xs md:text-sm cursor-pointer"
      @click="goToUser(author.id)"
    >
      {{ author.name }}
    </a>
    <div class="hidden sm:block text-gray-500 text-xs">{{ group }}</div>
    <div @click="goToUser(author.id)" class="text-center">
      <UserIcon
        class="h-16 w-16 sm:h-20 sm:w-20 rounded-lg Animal"
        :animal="author.animal"
        :color="author.color"
        :isFriend="isFriend"
      ></UserIcon>
      <span class="inline sm:hidden text-xs font-bold text-gray-600">{{ author.code }}</span>
    </div>
  </div>
</template>

<script>
import UserIcon from './UserIcon.vue';

import Users from '@/services/Users';

export default {
  props: ['authorId'],
  components: {
    UserIcon,
  },
  computed: {
    isFriend() {
      return this.author.isFriend;
    },
    group() {
      if (this.author.suit === '__ARCANA__' || this.author.rank === '__ARCANA__') {
        return this.author.arcana;
      }
      return `${this.author.rank} of ${this.author.suit}`;
    },
  },
  created() {
    this.getData();
  },
  data() {
    return {
      author: {
        id: -1,
        color: 'Red',
        animal: 'Aardvark',
        code: '0001',
        arcana: '',
        suit: '',
        rank: '',
        isFriend: false,
      },
    };
  },
  methods: {
    async getData() {
      try {
        const response = await Users.getAuthor(this.authorId);
        if (response.status === 200) {
          this.author = response.data;
        }
      } catch (error) {
        // TODO: robot here
      }
    },
    goToUser(id) {
      this.$router.push({
        path: `/user/${id}`,
      });
    },
  },
};
</script>

<style></style>
