<template>
  <div :class="color" id="animalIcon" class="relative">
    <img :src="path" :alt="animal" :title="`${color}${animal}`" />
    <span v-if="isFriend" class="text-white absolute icon-overlay">
      <font-awesome-icon icon="grin-stars"></font-awesome-icon>
    </span>
  </div>
</template>

<script>
export default {
  props: ['animal', 'color', 'isFriend'],
  computed: {
    path() {
      return require(`@/assets/animals/${this.animal}.svg`);
    },
  },
};
</script>
