<template>
  <div>
    <h2 class="text-blue-800 pl-1 sm:pl-4 text-xl lowercase">
      {{ category.name }}
    </h2>
    <category-forum v-for="(forum, idx) in category.forums" :key="idx" :forum="forum" />
    <random-kindness />
    <divider />
  </div>
</template>

<script>
import * as moment from 'moment';
import CategoryForum from '@/components/Category/CategoryForum.vue';
import Divider from '@/components/shared/Divider.vue';
import RandomKindness from '@/components/shared/RandomKindness.vue';

export default {
  props: ['category'],
  components: {
    CategoryForum,
    Divider,
    RandomKindness,
  },
  methods: {
    updateDate(value) {
      const m = moment.utc(value);
      return m.fromNow();
    },
  },
};
</script>
