<template>
  <div class="px-2 sm:pl-6 even:bg-blue-50 flex flex-no-wrap items-end flex-row">
    <div class="w-4/5">
      <router-link class="text-blue-900" :to="{ name: 'Forum', params: { id: forum.id } }">
        {{ forum.name }}
        <br />
        <span v-if="forum.description" class="text-xs text-gray-600">{{ forum.description }}</span>
      </router-link>
      <div class="text-xxs uppercase text-gray-600">
        <span>{{ $t('Category.Display.subforums') }}:</span>
        <span v-for="(subforum, idx) in forum.subforums" :key="idx" class="pl-2">
          <a
            :class="{ commify: idx !== forum.subforums.length - 1 }"
            class="text-blue-700 ml-1 hover:underline normal-case hover:text-black"
            href="#"
          >
            {{ subforum.name }}
          </a>
        </span>
        <span v-if="forum.subforums.length < 1" class="pl-2">none</span>
      </div>
    </div>
    <div class="w-1/5 flex flex-col items-end justify-end pt-1">
      <div class="text-xs text-gray-600">
        {{ $t('Category.Display.threadCount') }}:
        {{ forum.threadCount.count }}
      </div>
      <div v-if="forum.mostRecent" class="text-xs text-gray-600">
        {{ updateDate(forum.mostRecent.created_at) }}
      </div>
    </div>
  </div>
</template>

<script>
import * as moment from 'moment';
export default {
  props: ['forum'],
  methods: {
    updateDate(value) {
      const m = moment.utc(value);
      return m.fromNow();
    },
  },
};
</script>
