<template>
  <div class="grid grid-cols-9 sm:grid-cols-12 text-xs sm:text-sm even:bg-blue-50 py-1 pr-1">
    <div class="col-span-6 sm:col-span-7 pl-1 sm:pl-4">
      <span class="cursor-pointer" @click="goToThread(threadInfo.id)">
        {{ threadInfo.title }}
      </span>
      <Pager :forumId="threadInfo.forumId" :threadId="threadInfo.id" :pages="threadInfo.pages"></Pager>
    </div>
    <div
      class="col-span-3 sm:col-span-2 text-right sm:text-center text-xs md:text-sm"
      :class="`text-${threadInfo.author.color}`"
    >
      {{ threadInfo.author.name }}
    </div>
    <div class="hidden sm:block text-center">{{ threadInfo.totalPostCount }}</div>
    <div
      class="hidden sm:block col-span-2 text-center text-xs md:text-sm"
      :class="`text-${threadInfo.lastPost.author.color}`"
    >
      {{ threadInfo.lastPost.author.name }}
      <div class="text-xxs uppercase text-gray-500">{{ lastPostTime }}</div>
    </div>
  </div>
</template>

<script>
import * as moment from 'moment';
import Pager from '@/components/shared/Pager.vue';

export default {
  components: {
    Pager,
  },
  computed: {
    lastPostTime() {
      const m = moment.utc(this.threadInfo.lastPost.createdAt);
      return m.fromNow();
    },
  },
  methods: {
    goToThread(id) {
      this.$router.push({
        path: `/forum/${this.threadInfo.forumId}/thread/${id}`,
      });
    },
  },
  props: ['threadInfo'],
};
</script>
