<template>
  <div>
    <random-kindness />
  </div>
</template>

<script>
import RandomKindness from '@/components/shared/RandomKindness.vue';
export default {
  components: {
    RandomKindness,
  },
};
</script>
