<template>
  <div class="pl-4 flex flex-row justify-between items-center h-8 border-b border-gray-300 text-lg pb-2">
    <span class="face-rubik truncate">{{ title }}</span>
    <div class="flex flex-row items-center justify-between sm:justify-end">
      <button @click="goToReply()" class="text-blue-500 px-1 rounded mr-4 sm:mr-1 text-2xl sm:text-base">
        <font-awesome-icon icon="comment-dots"></font-awesome-icon>
        <span class="pl-2 hidden sm:inline">{{ $t('Thread.Header.reply') }}</span>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title'],

  created() {
    const path = this.$route.path.split(/\//);
    this.forumId = path[2];
    this.threadId = path[4];
  },
  data() {
    return {
      forumId: -1,
      threadId: -1,
    };
  },
  methods: {
    goToReply() {
      this.$router.push({
        path: `/forum/${this.forumId}/thread/${this.threadId}/reply`,
      });
    },
  },
};
</script>

<style></style>
