<template>
  <div class="flex flex-row justify-end py-1">
    <button
      @click="jumpToPage(1)"
      class="text-blue-500 rounded sm:mx-1 px-1 disabled:text-gray-500 disabled:cursor-not-allowed"
      :disabled="selectedPage === 1"
    >
      <font-awesome-icon icon="fast-backward"></font-awesome-icon>
    </button>

    <button
      @click="jumpToPage(prevPage)"
      class="text-blue-500 rounded sm:mx-1 px-1 disabled:text-gray-500 disabled:cursor-not-allowed"
      :disabled="selectedPage === 1"
    >
      <font-awesome-icon icon="step-backward"></font-awesome-icon>
    </button>

    <select v-model="selectedPage" @change="jumpToPage()" :title="title" class="text-blue-500">
      <option v-for="n in pages" :value="n" :key="n">{{ n }}</option>
    </select>

    <button
      @click="jumpToPage(nextPage)"
      class="text-blue-500 rounded sm:mx-1 px-1 disabled:text-gray-500 disabled:cursor-not-allowed"
      :disabled="!(selectedPage < pages)"
    >
      <font-awesome-icon icon="step-forward"></font-awesome-icon>
    </button>

    <button
      @click="jumpToPage(pages)"
      class="text-blue-500 rounded sm:mx-1 px-1 disabled:text-gray-500 disabled:cursor-not-allowed"
      :disabled="selectedPage >= pages"
    >
      <font-awesome-icon icon="fast-forward"></font-awesome-icon>
    </button>
  </div>
</template>

<script>
export default {
  computed: {
    nextPage() {
      let p = parseInt(this.selectedPage) + 1;
      if (p > this.pages) {
        p = this.pages;
      }
      return p;
    },
    prevPage() {
      let p = this.selectedPage - 1;
      if (p < 1) {
        p = 1;
      }
      return p;
    },
  },
  data() {
    return {
      selectedPage: 1,
      title: this.$t('Thread.Pager.jumpToPage'),
    };
  },
  methods: {
    jumpToPage(which) {
      if (which) {
        which = parseInt(which);
        if (which < 0 || isNaN(which)) {
          which = 1;
        } else if (which > this.pages) {
          which = this.pages;
        }
      } else {
        which = this.selectedPage;
      }
      this.$emit('jump-to-page', which);
    },
  },
  props: ['pages'],
  watch: {
    '$route.query': {
      handler: function (query) {
        if (query.page) {
          this.selectedPage = query.page;
        } else {
          this.selectedPage = 1;
        }
      },
      deep: true,
      immediate: true,
    },
  },
};
</script>
