<template>
  <div>
    <LoadingVeil :show="loading" />
    <ForumToolbar :forumId="id" :name="forum.name" :desc="forum.description" />
    <ThreadPager :pages="pages" :current="page" @jump-to-page="jumpToPage" v-if="pages > 1" />
    <ForumHeader />
    <ThreadTitle v-for="thread in threads" :key="thread.id" :threadInfo="thread" />
    <div v-if="threads.length < 1" class="text-center even:bg-blue-50 border-b border-blue-500 border-opacity-50">
      {{ $t('Forum.General.noThreadStart') }}
      <router-link class="text-blue-700 hover:underline cursor-pointer" :to="`/forum/${id}/newthread`">
        {{ $t('Forum.General.noThreadLink') }}
      </router-link>
      !
    </div>
    <ThreadPager :pages="pages" :current="page" @jump-to-page="jumpToPage" v-if="pages > 1" />
  </div>
</template>

<script>
import Forums from '@/services/Forums';
import ForumHeader from '@/components/Forum/ForumHeader.vue';
import ForumToolbar from '@/components/Forum/ForumToolbar.vue';
import LoadingVeil from '@/components/shared/LoadingVeil.vue';
import ThreadTitle from '@/components/Thread/ThreadTitle.vue';
import ThreadPager from '@/components/Thread/ThreadPager.vue';

export default {
  created() {
    this.getForum();
  },
  components: {
    ForumHeader,
    ForumToolbar,
    LoadingVeil,
    ThreadTitle,
    ThreadPager,
  },
  computed: {
    id() {
      return this.$route.params.id;
    },
  },
  data() {
    return {
      loading: true,
      threads: [],
      forum: {},
      pages: 1,
      page: 1,
    };
  },
  methods: {
    async getForum() {
      this.loading = true;
      try {
        const response = await Forums.get(this.id);
        this.forum = response.data;
        this.pages = this.forum.pages || 1;
        this.getPage();
      } catch (e) {
        this.robot('error getting forum', e);
      }
      this.loading = false;
    },
    async getPage() {
      this.loading = true;
      try {
        const response = await Forums.getThreadsByForum(this.id, this.page);
        this.threads = response.data;
      } catch (e) {
        this.robot('error getting page', e);
      }
      this.loading = false;
    },
    jumpToPage(page) {
      if (page !== this.page) {
        this.page = page;
        this.$router.push(`${this.$route.path}?page=${page}`);
        this.getPage();
      }
    },
  },
};
</script>
