<template>
  <div class="md:flex flex-col mx-auto">
    <LoadingVeil :show="loading" />
    <CategoryDisplay v-for="(category, idx) in categories" :category="category" :key="idx" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import CategoryDisplay from '@/components/Category/CategoryDisplay';
import LoadingVeil from '@/components/shared/LoadingVeil';

export default {
  components: {
    CategoryDisplay,
    LoadingVeil,
  },
  computed: {
    ...mapGetters({
      categories: 'categories',
    }),
  },
  created() {
    this.getData();
  },
  data() {
    return {
      loading: true,
    };
  },
  methods: {
    async getData() {
      this.loading = true;
      await this.$store.dispatch('getCategories');
      this.loading = false;
    },
  },
};
</script>
