<template>
  <div class="pt-4">
    <div class="max-w-sm mx-auto bg-white text-center text-3xl face-rubik">
      {{ $t('Home.title') }}
    </div>
    <LoginForm></LoginForm>
  </div>
</template>

<script>
import LoginForm from '@/components/LoginForm.vue';
export default {
  components: {
    LoginForm,
  },
};
</script>
