<template>
  <div>
    <LoadingVeil :show="loading" />
    <div class="text-md pl-4 flex flex-row items-center h-8">
      <div v-if="!isNew" class="text-xs sm:text-base">
        {{ $t('Thread.Reply.postReplyTo') }}:
        <span class="pl-8 text-lg face-rubik">{{ thread.title }}</span>
      </div>
    </div>
    <div
      class="
        align-middle
        pb-0
        border border-blue-500 border-opacity-50
        rounded-lg rounded-b-none
        divide-y divide-blue-500 divide-opacity-50
      "
    >
      <div class="flex flex-row p-4" v-if="isNew">
        <div class="w-1/4 lg:w-1/5 xl:w-1/6 text-sm text-right pr-2 flex flex-row justify-end items-center">
          {{ $t('Thread.Reply.title') }}:
        </div>
        <div class="w-3/4 lg:w-4/5 xl:w-5/6 flex flex-row justify-start items-center">
          <input
            type="text"
            v-model="newTitle"
            :placeholder="$t('Thread.Reply.newTitle')"
            class="border border-blue-300 rounded text-sm w-64 p-1"
          />
        </div>
      </div>
      <div class="flex flex-row p-2 pr-4 bg-blue-50">
        <div class="w-1/4 lg:w-1/5 xl:w-1/6 text-xs sm:text-sm">
          <UserCard :authorId="authorId"></UserCard>
          <div class="text-center">
            {{ $t('Thread.Reply.notYou') }}
            <br />
            <button class="text-blue-500 px-1">
              {{ $t('Thread.Reply.signOut') }}
              <font-awesome-icon icon="sign-out-alt"></font-awesome-icon>
            </button>
          </div>
        </div>
        <div class="w-3/4 lg:w-4/5 xl:w-5/6">
          <textarea
            v-if="!previewing"
            class="w-full min-40-auto text-xs sm:text-sm border border-blue-300 rounded p-1"
            v-model="content"
            placeholder="type your post here"
          ></textarea>
          <PostContent :content="previewContent" v-if="previewing" class="min-40-auto"></PostContent>
          <div class="py-1 flex justify-end">
            <button @click="previewPost()" v-if="!previewing && !posting" class="text-blue-500 px-1 py-1 mx-1 text-sm">
              <font-awesome-icon icon="eye"></font-awesome-icon>
              <span class="pl-2 hidden sm:inline">{{ $t('Thread.Reply.previewPost') }}</span>
            </button>
            <button @click="postIt()" v-if="previewing && !posting" class="text-blue-500 px-1 py-1 mx-1 text-sm">
              <font-awesome-icon icon="thumbs-up"></font-awesome-icon>
              <span class="pl-2 hidden sm:inline">{{ $t('Thread.Reply.postIt') }}</span>
            </button>
            <button @click="makeChanges()" v-if="previewing && !posting" class="text-blue-500 px-1 py-1 mx-1 text-sm">
              <font-awesome-icon icon="edit"></font-awesome-icon>
              <span class="pl-2 hidden sm:inline">{{ $t('Thread.Reply.makeChanges') }}</span>
            </button>
            <button @click="cancel()" v-if="!posting" class="text-gray-800 px-1 text-sm">
              <font-awesome-icon icon="comment-slash"></font-awesome-icon>
              <span class="pl-2 hidden sm:inline">{{ $t('Thread.Reply.cancel') }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="!isNew"
      class="
        border border-blue-500 border-opacity-50
        rounded rounded-t-none
        py-2
        divide-y divide-blue-500 divide-opacity-50
        border-t-0
      "
    >
      <div>
        <PostWhole v-for="post in posts" :key="post.id" :post="post" @quote-post="onQuotePost"></PostWhole>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingVeil from '@/components/shared/LoadingVeil.vue';
import PostContent from '@/components/Post/PostContent.vue';
import PostWhole from '@/components/Post/PostWhole.vue';
import UserCard from '@/components/User/UserCard.vue';
import Posts from '@/services/Posts';
import Threads from '@/services/Threads';
import BBCService from '@/lib/BBCodeParser';

export default {
  components: {
    LoadingVeil,
    PostContent,
    PostWhole,
    UserCard,
  },
  async created() {
    this.authorId = this.$store.getters.id;
    if (this.$route.path.endsWith('newthread')) {
      this.isNew = true;
      this.forumId = parseInt(this.$route.path.split('/')[2]);
    } else {
      // see if we are quoting a post
      let quotePostId = -1;
      if (this.$route.query && this.$route.query.q) {
        quotePostId = parseInt(this.$route.query.q);
      }
      const threadId = parseInt(this.$route.params.threadId);
      try {
        const threadRes = await Threads.getById(threadId);
        if (threadRes.status === 200) {
          this.thread = threadRes.data;
        }
        const postRes = await Posts.getForReply(threadId);
        if (postRes.status === 200) {
          this.posts = postRes.data;
        }
        // if we got here via quote post, pull the post
        if (quotePostId !== -1) {
          const quoteRes = await Posts.getById(quotePostId);
          if (quoteRes.status === 200) {
            this.onQuotePost(quoteRes.data.post);
          }
        }
      } catch (e) {
        this.robot('error', e);
      }
    }
  },
  data() {
    return {
      loading: false,
      isNew: false,
      forumId: -1,
      posts: [],
      content: '',
      authorId: -1,
      previewing: false,
      posting: false,
      newTitle: '',
      quotePost: {},
      thread: {
        id: -1,
        forumId: -1,
        title: '',
        author: {
          id: -1,
          color: '',
          animal: '',
          code: '',
          arcana: '',
          suit: '',
          rank: '',
        },
        totalPostCount: 0,
        pages: 1,
        lastPost: {
          author: {
            id: -1,
            color: '',
            animal: '',
            code: '',
            arcana: '',
            suit: '',
            rank: '',
          },
          createdAt: '',
        },
      },
    };
  },
  methods: {
    previewPost() {
      this.previewing = true;
      this.previewContent = BBCService.parse(this.content);
    },
    makeChanges() {
      this.previewing = false;
    },
    onQuotePost(post) {
      // console.log(post.author);
      const quote = `[quote="${post.author.name}" post="${post.id}"]\n${post.content}\n[/quote]\n\n`;
      this.content += quote;
    },
    cancel() {
      if (this.isNew) {
        // go back to forum
        this.$router.push({ name: 'Forum', params: { id: this.forumId.toString() } });
      } else {
        // go back to thread
        this.$router.push({ name: 'Thread', params: { threadId: this.thread.id.toString() } });
      }
    },
    async postIt() {
      this.posting = true;
      this.loading = true;
      if (!this.isNew) {
        const newPost = {
          threadId: this.thread.id,
          authorId: this.authorId,
          content: this.content,
        };
        let result;
        try {
          result = await Posts.postReply(newPost);
          if (result.status === 200) {
            const path = this.$route.path;
            const newPath = path.substring(0, path.lastIndexOf('/'));
            this.loading = false;
            this.$router.push(newPath);
          }
        } catch (e) {
          this.robot('post error', e);
        }
      } else {
        const newThread = {
          authorId: this.authorId,
          title: this.newTitle,
          forumId: this.forumId,
          content: this.content,
        };
        try {
          const result = await Threads.postNew(newThread);
          if (result.status === 200) {
            const id = result.data;
            const path = this.$route.path;
            const newPath = path.substring(0, path.lastIndexOf('/'));
            this.loading = false;
            this.$router.push(`${newPath}/thread/${id}`);
          }
        } catch (e) {
          this.robot('unable to create thread', e);
        }
      }
    },
  },
  beforeDestroy() {
    this.loading = false;
  },
};
</script>
