<template>
  <div class="pt-8">
    <div class="flex flex-row items-center justify-center text-lg text-blue-700 sm:text-3xl face-rubik pb-6">
      {{ $t('Signup.title') }}
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3">
      <!-- <div class="flex flex-row"> -->
      <div class="flex flex-col items-center">
        <div class="text-base sm:text-xl p-2">{{ $t('Signup.pickColor') }}</div>
        <ListSpinner :items="colors" @item-spin="onColorSpin"></ListSpinner>
        <div class="text-base sm:text-xl p-2">{{ $t('Signup.pickAnimal') }}</div>
        <ListSpinner :items="animals" @item-spin="onAnimalSpin"></ListSpinner>
        <RandomCode @code-change="onCodeSpin"></RandomCode>
      </div>
      <div class="flex flex-col items-center pt-4">
        <UserProfileImage :animal="animal" :color="color" :code="signup.code"></UserProfileImage>
        <div class="text-center text-base sm:text-lg">
          <font-awesome-icon class="text-blue-700 text-xl" icon="hand-point-up"></font-awesome-icon>
          {{ $t('Signup.willBeUsername') }}
        </div>
      </div>
      <!-- </div> -->
      <div>
        <SignupForm @user-valid="doSignup"></SignupForm>
      </div>
    </div>
    <div class="text-xs pt-8 mx-auto text-center" v-html="$t('Signup.neverEver')"></div>
  </div>
</template>

<script>
import ListSpinner from '@/components/Signup/ListSpinner.vue';
import RandomCode from '@/components/Signup/RandomCode.vue';
import SignupForm from '@/components/Signup/SignupForm.vue';
import UserProfileImage from '@/components/User/UserProfileImage.vue';
import Users from '@/services/Users';
import Utility from '../services/Utlity';

export default {
  data() {
    return {
      animals: [],
      colors: [],
      signup: {
        username: '',
        password: '',
        email: '',
        animalId: 1,
        colorId: 1,
        code: '0001',
      },
      animal: 'Aardvark',
      color: 'Red',
    };
  },
  components: {
    ListSpinner,
    RandomCode,
    SignupForm,
    UserProfileImage,
  },
  computed: {
    username() {
      return `${this.color}${this.animal}${this.signup.code}`;
    },
  },
  async created() {
    this.signup.username = this.username;
    try {
      const animals = await Utility.getAnimals();
      const colors = await Utility.getColors();
      if (animals.status === 200) {
        this.animals = animals.data;
        this.animals = this.shuffle(this.animals);
        this.onAnimalSpin(this.animals[0]);
      } else {
        this.robot('unable to fetch animals:', animals.message);
      }

      if (colors.status === 200) {
        this.colors = colors.data;
        this.colors = this.shuffle(this.colors);
        this.onColorSpin(this.colors[0]);
      } else {
        this.robot('unable to fetch colors:', animals.message);
      }
    } catch (e) {
      this.robot('error on signup creation', e);
    }
  },
  methods: {
    onAnimalSpin(animal) {
      this.animal = animal.name;
      this.signup.animalId = animal.id;
    },
    onCodeSpin(code) {
      this.signup.code = code;
    },
    onColorSpin(color) {
      this.color = color.name;
      this.signup.colorId = color.id;
    },
    async doSignup(user) {
      this.signup.email = user.email;
      this.signup.pass = user.password;
      this.signup.name = this.username;
      try {
        const response = await Users.signup(this.signup);
        if (response.status === 200) {
          this.robot('signup success!', 'you have successfuly signed up!');
          this.$router.push({ name: 'Login' });
        } else {
          this.robot('signup problem', 'something went wrong');
        }
      } catch (e) {
        this.robot('error signing up', e);
      }
    },
    shuffle(arrIn) {
      for (let i = arrIn.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * i);
        const tmp = arrIn[i];
        arrIn[i] = arrIn[j];
        arrIn[j] = tmp;
      }
      return arrIn;
    },
  },
};
</script>
