<template>
  <div id="thread">
    <LoadingVeil :show="loading" />
    <ThreadHeader :title="threadTitle"></ThreadHeader>
    <ThreadPager :pages="pages" :current="page" @jump-to-page="jumpToPage" v-if="pages > 1" />
    <div class="py-2">
      <PostWhole v-for="post in posts" @quote-post="onQuotePost" :key="post.id" :post="post" :ref="`post-${post.id}`" />
    </div>
    <div class="pl-4 flex flex-row justify-end items-center h-8 border-t border-gray-300">
      <ThreadPager :pages="pages" :current="page" @jump-to-page="jumpToPage" v-if="pages > 1" />
    </div>
  </div>
</template>

<script>
import LoadingVeil from '@/components/shared/LoadingVeil.vue';
import ThreadPager from '@/components/Thread/ThreadPager.vue';
import ThreadHeader from '@/components/Thread/ThreadHeader.vue';
import PostWhole from '@/components/Post/PostWhole.vue';

import Threads from '@/services/Threads';
import Posts from '@/services/Posts';

export default {
  components: {
    LoadingVeil,
    PostWhole,
    ThreadHeader,
    ThreadPager,
  },
  computed: {
    threadTitle() {
      return this.thread.title || '__title__';
    },
  },
  created() {
    this.getData();
  },
  data() {
    return {
      forumId: parseInt(this.$route.params.id),
      id: parseInt(this.$route.params.threadId),
      loading: true,
      posts: [],
      thread: {},
      page: 1,
      pages: 1,
    };
  },
  methods: {
    async getData() {
      this.loading = true;
      if (this.$route.query && this.$route.query.page) {
        let page = parseInt(this.$route.query.page) || 1;
        this.page = page;
        // this.$store.commit('PAGE_SET', page);
      }
      try {
        const response = await Threads.getById(this.id);
        if (response.status === 200) {
          this.thread = response.data;
          this.pages = response.data.pages;
          this.getPage();
        }
      } catch (e) {
        this.robot('unable to retrieve thread!', e);
      }
      this.loading = false;
    },
    async getPage() {
      this.loading = true;
      try {
        const response = await Posts.get(this.id, this.page);
        if (response.status === 200) {
          this.posts = response.data;
        }
      } catch (e) {
        this.robot('unable to retrieve posts!', e);
      }
      this.loading = false;
    },
    jumpToPage(page) {
      if (page !== this.page) {
        this.page = page;
        this.$router.push(`${this.$route.path}?page=${page}`);
        this.getPage();
      }
    },
    onQuotePost(post) {
      this.$router.push({
        name: 'Reply',
        params: { threadId: this.id.toString() },
        query: { q: post.id.toString() },
      });
    },
  },
};
</script>

<style></style>
