<template>
  <div class="grid grid-cols-3 gap-4">
    <LoadingVeil :show="loading" />
    <div class="col-span-1">
      <div class="flex flex-col items-center justify-center border border-gray-300 rounded-lg p-4">
        <UserProfileImage :animal="user.profile.animal" :color="user.profile.color" :code="user.profile.code" />
        <div class="text-gray-600 text-center mt-2">{{ card }}</div>
        <div class="text-black text-center my-2">&quot;{{ user.profile.tagline }}&quot;</div>
        <div class="w-64">
          <div class="grid grid-cols-2 gap-2">
            <div class="text-black font-medium lowercase pr-2">name:</div>
            <div class="text-blue-500">{{ user.name }}</div>
            <div class="text-black font-medium lowercase pr-2" v-if="!user.profile.hideEmail">email:</div>
            <div class="text-blue-500" v-if="!user.profile.hideEmail">
              {{ user.email }}
            </div>
            <div class="text-black font-medium lowercase pr-2">joined:</div>
            <div class="text-blue-500">{{ joinDate }}</div>
            <div class="text-black font-medium lowercase pr-2">last seen:</div>
            <div class="text-blue-500">{{ lastSeen }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-1 border border-gray-300 rounded-lg p-4">
      <FriendsList :userId="loggedInUser.id"></FriendsList>
    </div>
    <div class="col-span-1 border border-gray-300 rounded-lg p-4 flex flex-col items-center justify-between">
      <UserPostInfo :info="postInfo" :joinDate="user.joinDate"></UserPostInfo>
      <!-- <button class="bg-green-500 text-white rounded mx-1 px-1">
        <font-awesome-icon icon="flag"></font-awesome-icon>
        Report User
      </button> -->
    </div>
  </div>
</template>

<script>
import moment from 'moment';

import FriendsList from '@/components/Friends/FriendsList.vue';
import LoadingVeil from '@/components/shared/LoadingVeil.vue';
import UserPostInfo from '@/components/User/UserPostInfo.vue';
import UserProfileImage from '@/components/User/UserProfileImage.vue';
import Users from '@/services/Users';

export default {
  components: {
    FriendsList,
    LoadingVeil,
    UserPostInfo,
    UserProfileImage,
  },
  computed: {
    card() {
      if (this.user.profile) {
        if (this.user.profile.rank === '__ARCANA__') {
          return this.user.profile.arcana;
        }
        return `${this.user.profile.rank} of ${this.user.profile.suit}`;
      }
      return '';
    },
    joinDate() {
      return moment.utc(this.user.joinDate).fromNow();
    },
    lastSeen() {
      if (this.user.lastSeen) {
        return moment.utc(this.user.lastSeen).fromNow();
      }
      return 'Never';
    },
  },
  async mounted() {
    console.log('UserProfile mounted');
    this.loggedInUser = this.$store.getters.user;
    this.profileId = parseInt(this.$route.params.id);
    await this.getData();
  },
  data() {
    return {
      loading: false,
      loggedInUser: { id: -1 },
      postInfo: {},
      profileId: -1,
      user: {
        id: -1,
        name: '',
        email: '',
        isAdmin: false,
        joinDate: '',
        lastSeen: null,
        profile: {
          animal: 'Aardvark',
          arcana: 'The Fool',
          code: '0001',
          color: 'Red',
          id: -1,
          rank: 'One',
          suit: 'Coins',
        },
      },
    };
  },
  methods: {
    async getData() {
      this.loading = true;
      await this.getUser();
      await this.getPostInfo();
      this.loading = false;
    },
    async getPostInfo() {
      let response;
      try {
        response = await Users.getPostInfo(parseInt(this.$route.params.id));
        if (response.status === 200) {
          this.postInfo = response.data;
        }
      } catch (error) {
        this.robot('error getting post info', error);
      }
    },
    async getUser() {
      let response;
      try {
        response = await Users.getById(parseInt(this.$route.params.id));
        if (response.status === 200) {
          this.user = response.data;
        }
      } catch (error) {
        this.robot('error getting user', error);
      }
    },
  },
  watch: {
    '$route.params.id': async function (newVal) {
      this.profileId = parseInt(newVal);
      await this.getData();
    },
  },
};
</script>
