<template>
  <div class="flex flex-row justify-between items-center mb-4 border-b border-gray-300">
    <div class="face-rubik text-lg">
      {{ name }}
      <span v-if="desc !== null" class="hidden sm:inline face-base text-gray-600">-</span>
      <span class="hidden sm:inline face-base text-gray-600 text-sm">{{ desc }}</span>
    </div>
    <button class="text-blue-500 bg-white px-2 text-2xl sm:text-base" @click="newThread">
      <font-awesome-icon icon="feather-alt"></font-awesome-icon>
      <span class="pl-2 hidden sm:inline">{{ $t('Forum.Toolbar.newThread') }}</span>
    </button>
  </div>
</template>

<script>
export default {
  props: ['forumId', 'name', 'desc'],
  methods: {
    newThread() {
      this.$router.push({ path: `/forum/${this.forumId}/newthread` });
    },
  },
};
</script>
