<template>
  <div class="grid grid-cols-9 sm:grid-cols-12 text-blue-700 border-b pb-1 pr-1">
    <!-- <div>Future</div> -->
    <div class="col-span-6 sm:col-span-7 pl-1 sm:pl-4">{{ $t('Forum.Header.title') }}</div>
    <div class="col-span-3 sm:col-span-2 text-right sm:text-center">{{ $t('Forum.Header.author') }}</div>
    <div class="hidden sm:block text-center">{{ $t('Forum.Header.replies') }}</div>
    <div class="hidden sm:block col-span-2 text-center">{{ $t('Forum.Header.lastPost') }}</div>
  </div>
</template>
