<template>
  <div class="pb-8" :class="{ hidden: hide }">
    <router-link
      v-for="(link, idx) in areLinks"
      :key="idx"
      :to="link.to"
      class="text-sm text-blue-700 no-underline hover:underline"
      :title="link.title"
    >
      {{ link.text }}
      <span v-if="link.to !== $route.path && `${link.to}/` !== $route.path" class="no-underline">
        {{ separator }}
      </span>
    </router-link>
    <span
      v-for="(link, idx) in notLinks"
      :key="`no${idx}`"
      :title="link.title"
      class="text-sm text-gray-700 no-underline"
    >
      {{ link.text }}
    </span>
  </div>
</template>

<script>
export default {
  computed: {
    areLinks() {
      return this.links.filter((l) => l.to !== this.$route.fullPath);
    },
    notLinks() {
      return this.links.filter((l) => l.to === this.$route.fullPath);
    },
  },
  created() {
    this.processRoute(this.$route);
  },
  data() {
    return {
      separator: '>',
      hide: false,
      links: [],
    };
  },
  methods: {
    async processRoute(route) {
      if (route.name === 'Login' || route.name === 'Signup') {
        this.hide = true;
      } else {
        this.hide = false;
        this.links = [{ to: '/index', text: 'Forums Home', title: 'Return to forums home' }];
        switch (route.meta.breadcrumb) {
          case 'viewOneUser':
            const u = await this.$store.dispatch('getUser', parseInt(route.params.id));
            this.links.push({
              to: route.fullPath,
              text: `${u.name}'s Profile`,
              title: `see all about ${u.name}`,
            });
            break;
          case 'viewOneForum':
            const f = await this.$store.dispatch('getForum', parseInt(route.params.id));

            this.links.push({
              to: route.fullPath,
              text: `${f.name}`,
              title: f.description,
            });
            break;
          case 'viewOneThread':
            const forumId = parseInt(route.params.id);
            const forum = await this.$store.dispatch('getForum', forumId);
            this.links.push({
              to: `/forum/${forumId}/`,
              text: forum.name,
              title: forum.description,
            });
            const id = parseInt(route.params.threadId);
            const t = await this.$store.dispatch('getThread', {
              threadId: id,
              fId: forumId,
            });
            this.links.push({
              to: route.fullPath,
              text: t.title,
              title: 'ze thread.  we shall read zem.',
            });
            break;
          default:
            break;
        }
      }
    },
  },
  watch: {
    $route: function (route) {
      this.processRoute(route);
    },
  },
};
</script>

<style></style>
