<template>
  <div class="max-w-sm mx-auto p-6 bg-white">
    <LoadingVeil :show="loading" />
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm mb-2" for="name">
          {{ $t('LoginForm.username') }}
        </label>
        <input
          class="
            shadow
            appearance-none
            border
            focus:border-blue-400
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
          "
          id="name"
          type="text"
          v-model="name"
          :placeholder="namePlaceholder"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm mb-2" for="pass">
          {{ $t('LoginForm.password') }}
        </label>
        <input
          class="
            shadow
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:border-blue-400
          "
          id="pass"
          type="password"
          v-model="pass"
          :placeholder="passPlaceholder"
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          @click="onLoginClick"
          class="btn"
          type="button"
          :class="{
            'opacity-50 cursor-not-allowed': name === '' || pass === '',
          }"
        >
          {{ $t('LoginForm.signIn') }}
        </button>
        <a class="inline-block align-baseline text-sm text-black-500 hover:text-black-800 hover:underline" href="#">
          {{ $t('LoginForm.forgotPassword') }}
        </a>
      </div>
    </form>
    <div class="mx-auto w-full text-center">
      {{ $t('LoginForm.noAccount') }}
      <router-link class="text-blue-500 cursor-pointer" to="/signup">{{ $t('LoginForm.signUp') }}</router-link>
    </div>
  </div>
</template>

<script>
import LoadingVeil from './shared/LoadingVeil.vue';
export default {
  components: {
    LoadingVeil,
  },
  data() {
    return {
      namePlaceholder: this.$t('LoginForm.username'),
      passPlaceholder: this.$t('LoginForm.password'),
      name: '',
      pass: '',
      loading: false,
    };
  },
  methods: {
    async onLoginClick() {
      this.loading = true;
      let payload = { name: this.name, pass: this.pass };
      let response;
      try {
        response = await this.$store.dispatch('login', payload);
        if (response.status === 200) {
          this.$store.commit('AUTH_SET', response.data);
          this.loading = false;
          this.$router.push({ name: 'Index' });
        } else {
          this.robot('you have erred, human!', 'username or password incorrect');
        }
      } catch (err) {
        this.robot('an error has happened', err);
      }
      this.loading = false;
    },
  },
};
</script>
