<template>
  <div
    class="w-full sm:border sm:border-blue-400 sm:border-t-0 sm:border-l-0 sm:border-r-0 mb-2 sm:mb-8 p-1"
    :class="{ hidden: !show }"
  >
    <div class="hidden sm:flex sm:flex-row justify-between">
      <div>
        <router-link class="text-blue-500 hover:underline cursor-pointer pr-4" to="/index">
          <font-awesome-icon icon="home"></font-awesome-icon>
          {{ $t('Navbar.home') }}
        </router-link>
      </div>
      <div v-if="user" class="text-right">
        <router-link
          class="text-blue-500 hover:underline cursor-pointer pr-6"
          :to="{ name: 'User', params: { id: user.id } }"
        >
          <font-awesome-icon icon="paw"></font-awesome-icon>
          {{ $t('Navbar.profile') }}
        </router-link>
        <a @click="onLogoutClick" class="text-blue-500 hover:underline cursor-pointer">
          {{ $t('Navbar.logout') }}
          <font-awesome-icon icon="sign-out-alt"></font-awesome-icon>
        </a>
      </div>
    </div>
    <div
      class="sm:hidden text-blue-500 text-xl border-b border-blue-700 flex flex-row justify-start"
      @click="goFullHam"
    >
      <div class="border-r border-blue-700 px-2">
        <font-awesome-icon icon="yin-yang"></font-awesome-icon>
        <ul v-if="showHamburgerMenu" class="pl-4 absolute w-1/2 z-30 bg-white rounded-lg border border-gray-400">
          <li>
            <router-link class="text-blue-500 hover:underline cursor-pointer pr-4" to="/index">
              <font-awesome-icon icon="home"></font-awesome-icon>
              {{ $t('Navbar.home') }}
            </router-link>
          </li>
          <li v-if="user">
            <router-link
              class="text-blue-500 hover:underline cursor-pointer pr-6"
              :to="{ name: 'User', params: { id: user.id } }"
            >
              <font-awesome-icon icon="paw"></font-awesome-icon>
              {{ $t('Navbar.profile') }}
            </router-link>
          </li>
          <li v-if="user">
            <a @click="onLogoutClick" class="text-blue-500 hover:underline cursor-pointer">
              {{ $t('Navbar.logout') }}
              <font-awesome-icon icon="sign-out-alt"></font-awesome-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  computed: {
    ...mapGetters({
      user: 'user',
    }),
    show() {
      return this.user.id !== -1;
    },
  },
  data() {
    return {
      showHamburgerMenu: false,
    };
  },
  methods: {
    goFullHam() {
      this.showHamburgerMenu = !this.showHamburgerMenu;
    },
    onLogoutClick() {
      // delete user from the store
      this.$store.commit('AUTH_CLEAR');
      // redirect to login
      this.$router.push({ name: 'Login' });
    },
  },
};
</script>
