<template>
  <div>
    <div class="text-xl">{{ $t('FriendsList.incoming') }}</div>
    <div class="text-xxs" v-if="incoming.length > 0">({{ $t('FriendsList.weWontTell') }})</div>
    <div v-if="incoming.length > 0">
      <div v-for="(req, idx) in incoming" :key="idx" :class="`text-${req.color}`" class="pt-2">
        <div v-if="!req.declined" class="flex flex-row align-center justify-between">
          <router-link :to="{ name: 'User', params: { id: req.targetId } }" class="hover:underline" exact>
            {{ req.name }}
          </router-link>
          <div>
            <button class="text-blue-500 px-4" title="accept request" @click="acceptRequest(req.requestId)">
              <font-awesome-icon icon="thumbs-up"></font-awesome-icon>
            </button>
            <button class="text-gray-500 px-4" title="decline request" @click="declineRequest(req.requestId)">
              <font-awesome-icon icon="thumbs-down"></font-awesome-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="text-gray-600">{{ $t('FriendsList.noIncoming') }}</div>
    <font-awesome-icon
      v-if="loading"
      class="mx-4 text-lg text-gray-400"
      :class="{ 'animate-spin': loading }"
      icon="yin-yang"
    ></font-awesome-icon>
  </div>
</template>

<script>
import Friends from '@/services/Friends';

export default {
  props: ['incoming'],
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    async acceptRequest(requestId) {
      try {
        const response = await Friends.accept(requestId);
        if (response.status === 200) {
          this.getData();
        }
      } catch (e) {
        this.robot('error accepting request', e);
      }
    },
    async declineRequest(requestId) {
      try {
        const response = await Friends.decline(requestId);
        if (response.status === 200) {
          this.getData();
        }
      } catch (e) {
        this.robot('error declining request', e);
      }
    },
  },
};
</script>
