<template>
  <div class="h-full flex flex-col divide-y divide-gray-400 justify-between">
    <LoadingVeil :show="loading" />
    <div>
      <div class="text-xl">{{ $t('FriendsList.friends') }}</div>
      <div v-if="friends.length > 0">
        <div v-for="(friend, idx) in friends" :key="idx" :class="`text-${friend.color}`">
          <router-link :to="{ name: 'User', params: { id: friend.userId } }" class="hover:underline">
            {{ friend.name }}
          </router-link>
          <span v-if="friend.userId === userId">(You!)</span>
        </div>
      </div>
      <div v-else>
        <div v-if="!isFriend && !isRequested && !ownProfile">
          {{ $t('FriendsList.notFriendsOrRequested') }}
          <span @click="addFriend" class="text-blue-500 hover:underline">{{ $t('FriendsList.addThem') }}</span>
          ?
        </div>
        <div v-if="isRequested" class="text-xxs text-blue-500">{{ $t('FriendsList.alreadySent') }}</div>
        <div v-if="ownProfile" class="text-gray-600">{{ $t('FriendsList.encouragement') }}!</div>
      </div>
    </div>
    <div v-if="ownProfile" class="grid grid-rows-2 divide-y divide-gray-400">
      <div>
        <FriendsIncoming :incoming="incoming" />
      </div>
      <div>
        <div class="text-xl">{{ $t('FriendsList.outgoing') }}</div>
        <div v-if="outgoing.length > 0">
          <div v-for="(req, idx) in outgoing" :key="idx" :class="`text-${req.color}`" class="pt-2">
            <div v-if="!req.declined" class="flex flex-row align-center justify-between">
              <router-link :to="{ name: 'User', params: { id: req.targetId } }" class="hover:underline" exact>
                {{ req.name }}
              </router-link>
              <div>
                <button class="text-gray-500 px-4" title="cancel request" @click="cancelRequest(req.targetId)">
                  <font-awesome-icon icon="ban"></font-awesome-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div v-else class="text-gray-600">{{ $t('FriendsList.noOutgoing') }}</div>
      </div>
    </div>
    <div v-if="!ownProfile && !isFriend && !isRequested" class="text-center">
      <button @click="addFriend" class="text-blue-500 mx-1 px-1 mt-4">
        <font-awesome-icon icon="user-plus"></font-awesome-icon>
        {{ $t('FriendsList.sendFriendRequest') }}
      </button>
    </div>
  </div>
</template>

<script>
import Friends from '@/services/Friends';
import FriendsIncoming from './FriendsIncoming.vue';
import LoadingVeil from '@/components/shared/LoadingVeil.vue';

export default {
  props: ['userId'],
  data() {
    return {
      friends: [],
      incoming: [],
      loading: false,
      outgoing: [],
    };
  },
  components: {
    FriendsIncoming,
    LoadingVeil,
  },
  computed: {
    isFriend() {
      let found = false;
      for (let i = 0; i < this.friends.length; i++) {
        if (this.friends[i].userId === this.userId) {
          found = true;
          break;
        }
      }
      return found;
    },
    isRequested() {
      let found = false;
      for (let i = 0; i < this.outgoing.length; i++) {
        if (this.outgoing[i].targetId === this.profileId) {
          found = true;
          break;
        }
      }
      return found;
    },
    ownProfile() {
      return this.userId === this.profileId;
    },
  },
  async mounted() {
    console.log('FriendsList mounted');
    await this.getData();
  },
  methods: {
    async addFriend() {
      try {
        const response = await Friends.add(this.profileId);
        if (response.status === 200) {
          this.robot('Success!', 'friend request sent');
          this.getData();
        }
      } catch (e) {
        this.robot('error adding friend', e);
      }
    },
    async cancelRequest(requestId) {
      try {
        const response = await Friends.cancel(requestId);
        if (response.status === 200) {
          this.getData();
        }
      } catch (e) {
        this.robot('error cancelling request', e);
      }
    },
    async getData() {
      this.loading = true;
      await this.getFriends(this.$route.params.id);
      await this.getPending(this.$route.params.id);
      this.loading = false;
    },
    async getFriends(profileId) {
      try {
        const response = await Friends.get(profileId);
        if (response.status === 200) {
          this.friends = response.data;
        }
      } catch (e) {
        this.robot('error getting friends', e);
      }
    },
    async getPending(profileId) {
      try {
        const response = await Friends.getPending();
        if (response.status === 200) {
          this.incoming = response.data.incoming;
          this.outgoing = response.data.outgoing;
        }
      } catch (e) {
        this.robot('error getting pending requests', e);
      }
    },
  },
  watch: {
    '$route.params.id': async function () {
      await this.getData();
    },
  },
};
</script>

<style></style>
