<template>
  <div class="even:bg-blue-50">
    <div class="flex">
      <div class="w-1/4 lg:w-1/5 xl:w-1/6">
        <UserCard :authorId="post.author.id"></UserCard>
      </div>
      <div class="w-3/4 lg:w-4/5 xl:w-5/6 pl-3 flex flex-col justify-between border-l border-gray-300">
        <PostContent :content="post.content"></PostContent>
        <PostToolbar @quote-post="onQuotePost()" :post="post"></PostToolbar>
      </div>
    </div>
  </div>
</template>

<script>
import PostContent from './PostContent.vue';
import PostToolbar from './PostToolbar.vue';
import UserCard from '@/components/User/UserCard.vue';

export default {
  props: ['post'],
  components: {
    PostContent,
    PostToolbar,
    UserCard,
  },
  methods: {
    onQuotePost(id) {
      this.$emit('quote-post', this.post);
    },
  },
};
</script>
