<template>
  <div>
    <div class="py-1 flex justify-between items-center">
      <div class="sm:text-xxs text-gray-400 text-xxxs">{{ createEditInfo }}</div>
      <div>
        <button v-if="showEdit" @click="editPost" class="text-blue-500 mx-1 px-1" title="edit this post">
          <font-awesome-icon icon="edit"></font-awesome-icon>
        </button>
        <button @click="quotePost" class="text-blue-500 mx-1 px-1" title="quote this post and reply">
          <font-awesome-icon icon="quote-right"></font-awesome-icon>
        </button>
        <!-- <button
          @click="reportPost"
          class="text-blue-500 mx-1 px-1"
          title="report this post to moderators"
        >
          <font-awesome-icon icon="flag"></font-awesome-icon>
        </button> -->
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  props: ['post'],
  computed: {
    createEditInfo() {
      const postedOn = this.$t('Post.postedOn');
      const editedOn = this.$t('Post.editedOn');
      const c = moment.utc(this.post.createdAt);
      const u = moment.utc(this.post.updatedAt);
      const diffMinutes = c.diff(u, 'minutes');
      const format = 'Do MMM YYYY hh:mm:ss';
      if (diffMinutes > 5) {
        return `${postedOn} ${c.format(format)}, ${editedOn} ${u.format(format)}`;
      }
      return `${postedOn} ${c.format(format)}`;
    },
    showEdit() {
      return this.$store.getters['id'] === this.post.author.id;
    },
  },
  methods: {
    editPost() {
      console.log('editing post ' + this.post.id);
    },
    quotePost() {
      return this.$emit('quote-post');
    },
    reportPost() {
      console.log('reporting post ' + this.post.id);
    },
  },
};
</script>
