<template>
  <div class="text-gray-800 text-xs sm:text-sm pt-1">
    <div v-html="parsedContent"></div>
  </div>
</template>

<script>
import BBCodeParser from '@/lib/BBCodeParser';

export default {
  props: ['content'],
  computed: {
    parsedContent() {
      return BBCodeParser.parse(this.content);
    },
  },
  methods: {
    goToPost(id) {
      console.log(id);
    },
  },
};
</script>

<style></style>
