/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;

body {
  font-family: 'Georama', sans-serif;
  font-size: 15px;
}

/* remove default input focus outline so we can style our own */
input:focus, textarea:focus, button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif
}

.face-rubik {
  font-family: 'Rubik', sans-serif;
}

.face-base {
  font-family: 'Georama', sans-serif;
}

/* default button */
.btn {
  @apply bg-blue-500;
  @apply text-white;
  @apply py-2;
  @apply px-4; 
  @apply rounded;
}

.btn:focus {
  @apply border-blue-400;
}

.btn:hover {
  @apply bg-blue-700;
}

input.textbox {
  @apply shadow;
  @apply appearance-none;
  @apply border;
  @apply border-blue-400;
  @apply rounded;
  @apply text-gray-700;
  caret-color: theme('colors.blue.500');
}

input.textbox.invalid {
  @apply border-red-500;
}

.commify::after {
  content: ", ";
}

.router-link-active {
  color: theme('colors.blue.500') !important;
}

.speech-bubble:nth-child(odd) {
  @apply bg-blue-200;
}

.speech-bubble {
  @apply relative;
  @apply rounded-lg;
  @apply bg-blue-200;
  @apply p-2;
}

.speech-bubble:nth-child(odd)::after {
  border-right-color: theme('colors.blue.200');
}

.speech-bubble::after {
  content: '';
	@apply absolute;
	@apply left-0;
	top: 50%;
	@apply w-0;
  @apply h-0;
  @apply rounded-lg;
	border: 20px solid transparent;
	border-right-color: theme('colors.blue.100');
	border-left: 0;
	margin-top: -20px;
	margin-left: -18px;
}

.quote-block {
  @apply border;
  @apply bg-gray-100;
  @apply text-black;
  @apply m-4;
  @apply p-2;
  @apply rounded;
}

.quote-author {
  @apply text-blue-600;
}

.min-40-auto {
  min-height: 10rem;
  @apply h-auto;
}

/* .timg-container {
  @apply z-10;
  @apply relative;
  @apply whitespace-no-wrap;
  @apply inline-block;
}

.timg-container > .overlay {
  @apply bg-gray-800;
  @apply border;
  @apply border-black;
  background-position: 4px 3px;
  @apply p-6;
  @apply m-2;
  @apply absolute;
  top: 0;
  left: 0;
  @apply text-xxs;
  @apply text-white;
  @apply cursor-pointer;
} */

.Animal {
  border-top: 2px solid #9c9c9c;
  border-right: 2px solid #9c9c9c;
  border-bottom: 2px solid #757575;
  border-left: 2px solid #757575;
}

.Animal-Big {
  border-radius: 1.5rem;
  border-width: 4px;
  @apply h-64;
  @apply w-64;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center
}

.Animal-Big > img {
  @apply h-56;
  @apply w-56;
}

.icon-overlay {
  bottom: 0;
  right: 0.25rem;
}

.Blue {
  @apply bg-blue-600;
}
.Gray {
  background-color: #6e6e6e;
}
.Green { 
  background-color: #008000;
}
.Indigo {
  background-color: #004a79;
}
.Orange {
	background-color: #dd8300;
}
.Purple {
	/* background-color: #600060; */
	background-color: #7908ca;
}
.Red {
	@apply bg-red-700;
}
.Teal {
	background-color: #008080;
}
.Violet {
	/* background-color: #ce62ce; */
  background-color: #A76AD1;
}
.Yellow {
	background-color: #ffd700;
}
.Yellow > span {
  @apply text-black;
}

.text-Blue {
  @apply text-blue-600;
}
.text-Gray {
  color: #6e6e6e;
}
.text-Green { 
  color: #008000;
}
.text-Indigo {
  color: #004a79;
}
.text-Orange {
	color: #dd8300;
}
.text-Purple {
	color: #7908ca;
}
.text-Red {
	@apply text-red-700;
}
.text-Teal {
	color: #008080;
}
.text-Violet {
	/* background-color: #ce62ce; */
  color: #A76AD1;
}
.text-Yellow {
	color: #c6a700;
}

@tailwind components;

@tailwind utilities;
