<template>
  <div id="app" class="mx-auto flex flex-col min-h-screen p-2 sm:p-4 pt-0 mb-6">
    <NavBar></NavBar>
    <RobotMessage></RobotMessage>
    <Breadcrumb></Breadcrumb>
    <router-view class="flex-grow w-full" />
    <site-footer />
  </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb.vue';
import NavBar from '@/components/NavBar.vue';
import SiteFooter from '@/components/shared/SiteFooter.vue';
import RobotMessage from '@/components/shared/RobotMessage.vue';
// import { NotificationStore }  from './stores/NotificationStore';

export default {
  components: {
    Breadcrumb,
    NavBar,
    SiteFooter,
    RobotMessage,
  },
};
</script>
